# Katalog środowiska wirtualnego
venv/

# Pliki kompilacji Pythona
__pycache__/
*.pyc

# Pliki konfiguracyjne IDE PyCharm
.idea/

# Pliki konfiguracyjne systemu macOS
.DS_Store

# Pliki konfiguracyjne Visual Studio Code
.vscode/

# Plik ze zmiennymi środowiskowymi
.env

# Folder z plikami tymczasowymi
tmp/
