<!-- app/templates/edit_book.html -->
<form method="post">
    ISBN: <input type="text" name="isbn" value="{{ book.ISBN }}"><br>
    Tytuł: <input type="text" name="title" value="{{ book.title }}"><br>
    Autor: <input type="text" name="author" value="{{ book.author }}"><br>
    Gatunek: <input type="text" name="genre" value="{{ book.genre }}"><br>
    Opis: <textarea name="description">{{ book.description }}</textarea><br>
    Rok publikacji: <input type="number" name="publication_year" value="{{ book.publication_year }}"><br>
    <input type="submit" value="Aktualizuj książkę">
</form>
