<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Powiadomienia</title>
    <!-- Dodaj linki do CSS jeśli potrzebujesz -->
</head>
<body>
    <h1>Powiadomienia</h1>

    <!-- Sekcja do wyświetlania komunikatów flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- Lista powiadomień i przypomnień -->
    {% if notifications or reminders %}
        <ul>
            {% for notification in notifications %}
                <li>
                    <p>{{ notification.content }}</p>
                    <p>Data wysłania: {{ notification.date_of_sending.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                </li>
            {% endfor %}
            {% for reminder in reminders %}
                <li>
                    <p>Przypomnienie: {{ reminder.type }} - {{ reminder.book_copy.book.title }}</p>
                    <p>Data wysłania: {{ reminder.date_of_sending.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nie masz żadnych powiadomień ani przypomnień.</p>
    {% endif %}

    <a href="{{ url_for('index') }}">Powrót do strony głównej</a>
</body>
</html>
