<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacja Książki</title>
    <!-- Dodaj linki do CSS jeśli potrzebujesz -->
</head>
<body>
    <h1>Rezerwacja Książki</h1>
    <form action="{{ url_for('reserve_book') }}" method="post">
        <p>
            <label for="book_id">ID Książki:</label><br>
            <input type="text" id="book_id" name="book_id" required>
        </p>
        <p>
            <input type="submit" value="Rezerwuj">
        </p>
    </form>
</body>
</html>
