<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Profil Użytkownika</title>

</head>
<body>
    <h1>Profil Użytkownika</h1>
    <ul>
        <li>Imię: {{ user.name }}</li>
        <li>Nazwisko: {{ user.surname }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Rola: {{ user.role }}</li>
    </ul>

    <!-- Link do edycji, widoczny tylko jeśli profil należy do zalogowanego użytkownika -->
    {% if current_user.id == user.id %}
    <a href="{{ url_for('edit_user', user_id=user.id) }}">Edytuj profil</a>
    {% endif %}

    <!-- Link powrotu do strony głównej -->
    <a href="{{ url_for('index') }}">Powrót do strony głównej</a>
</body>
</html>
